<div class="container">
  <footer class="footer">
    <small>
      ...but thou shalt be called Hephzibah, and thy land Beulah: for the LORD delighteth in thee, and thy land shall be married. Copyright &copy;
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
   </footer>
</div>

